/* Cabeçalho */
header
{
    background-color: rgb(150, 255, 150);
}

/* Menu */
nav ul li a:hover
{
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(150, 255, 150);
}

/* Foto da seção 2 */
section:nth-child(2)
{
    background: url("../img/auto.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Rodapé */
footer
{ background-color: rgb(150, 255, 150); }

footer a
{
    color: rgb(0, 0, 0);
    transition: color .75s;
}

footer a:hover
{ color: blue; }