/* Cabeçalho */
header
{
    background-color: rgb(255, 150, 150);
}

/* Foto da seção 2 */
section:nth-child(2)
{
    background: url("../img/eletro.jpg") no-repeat left center fixed;
    background-size: cover;
}

/* Rodapé */
footer
{ background-color: rgb(255, 150, 150); }

footer a
{
    color: rgb(0, 0, 0);
    transition: color .75s;
}

footer a:hover
{ color: blue; }