@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

:root
{
    --cor1: #079232;
    --cor2: #067228;
    --amarelo: #ffc728;
}

body, html
{ width: 100%; }

/* Cabeçalho */
header div.separador
{
    display: grid;
    background: var(--cor1);
    grid-template-columns: 3fr 7fr;
    align-items: center;
    padding: 2vw;
}


header div#logo
{
    width: 100%;
    margin: auto;
}

header div#logo img
{
    width: 100%;
}

header h1
{
    font-family: "Roboto Slab";
    font-size: 12vw;
    padding: 2vw;
    color: white;
    text-align: center;
}

header h1 span
{ color: var(--amarelo); }

/* Corpo */
main, footer
{ font: 2vw normal, "Montserrat"; }

section
{
    display: grid;
    height: 100vh;
    align-items: center;
    text-align: justify;
    background-color: var(--cor2);
    color: white;
}

section p
{ text-indent: 8vw; }

section ul
{
    list-style-position: inside;
}

section ul a
{
    text-decoration: none;
    color: white;
}

section ul a:hover
{
    text-decoration: underline;
    color: var(--amarelo);
}

section div.separador
{ padding: 10vw; }

section div.destaque
{
    display: grid;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    color: white;
    height: 100vh;
}

section:first-child
{
    background: url("../img/fundo/escola.jpg") no-repeat center fixed;
    background-size: cover;
}

section:last-child
{
    background: url("../img/fundo/turma.jpg") no-repeat center fixed;
    background-size: cover;
}

section a
{
    color: var(--amarelo);
    font-weight: bold;
    transition: color .5s;
}

section a:hover
{
    color: #ffd563;
}

/* Rodapé */
footer
{
    padding: 5vw;
    line-height: 6vw;
    background: var(--amarelo);
}

footer a
{
    color: black;
    transition: color .5s, font-weight .5s;
}

footer a:hover
{
    color: var(--cor1);
}

@media (max-width: 700px)
{
    main, footer
    { font-size: 3vw; }
}