@import url("https://fonts.googleapis.com/css2?family=Gugi:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

:root
{
    --azul1: #537fc6;
    --azul2: #7498ca;
    --azul3: #a5bfe2;
    --amarelo: #ffc728;
    --cinza: #eff2f7;
}

body, html
{ width: 100%; }

/* Cabeçalho */
header div.separador
{
    display: grid;
    background: var(--azul2);
    grid-template-columns: 3fr 7fr;
    align-items: center;
    padding: 2vw;
}


header div#logo
{
    width: 100%;
    margin: auto;
}

header div#logo img
{
    width: 100%;
}

header h1
{
    font-family: "Gugi";
    font-size: 15vw;
    padding: 2vw;
    color: var(--cinza);
}

header h1 span
{ color: var(--amarelo); }

/* Corpo */
main, footer
{ font: 2vw normal, "Montserrat"; }

section
{
    display: grid;
    height: 100vh;
    align-items: center;
    text-align: justify;
}

section p
{ text-indent: 8vw; }

section div.separador
{ padding: 10vw; }

section div.destaque
{
    display: grid;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    color: white;
    height: 100vh;
}

section:nth-child(2)
{
    background: var(--azul1);
    color: white;
}

section:nth-child(2) a
{

}

section:last-child
{
    background: url("../img/fundo/internet.jpg") no-repeat left fixed;
    background-size: cover;
}

section a
{
    color: var(--amarelo);
    font-weight: bold;
    transition: color .5s;
}

section a:hover
{
    color: #ffd563;
}

/* Rodapé */
footer
{
    padding: 5vw;
    line-height: 6vw;
    background: var(--amarelo);
}

footer a
{
    color: black;
    transition: color .5s, font-weight .5s;
}

footer a:hover
{
    color: var(--azul1);
}

@media (max-width: 700px)
{
    main, footer
    { font-size: 3vw; }
}