/* Cabeçalho */
header
{
    background-color: rgb(150, 150, 255);
}


/* Menu */
nav ul li a:hover
{
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(150, 150, 255);
}

/* Fotos */
section:first-child
{
    background: url("../img/fundo/info/1.jpg") no-repeat left fixed;
    background-size: cover;
}

section:last-child
{
    background: url("../img/fundo/info/2.jpg") no-repeat bottom fixed;
    background-size: cover;
}

/* Rodapé */
footer
{ background-color: rgb(150, 150, 255); }

footer a
{
    color: rgb(0, 0, 0);
    transition: color .75s;
}

footer a:hover
{ color: blue; }